venv
testing
venv_jupyter
psql_data
.dockerignore
.idea
.vscode
app/__pycache__
app/temp.py
app/templates/lol.html
app/templates/temp.html
__pycache__
note.txt
docker-compose-n.yml
config.py
testing_data.csv
*.env
