html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
}

#page-content {
    width: 65%;
    height: 600px;
    margin: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    box-shadow: 0 0 50px 5px grey;
}

#pic-art {
    flex: 17;
    border-radius: 30px 0 0 30px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    background-image: url(login_page.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#admin-login-form-block {
    flex: 23;
    padding-top: 100px;
    padding-left: 60px;
    min-width: 399;
}

#admin-login-form-block > span {
    font-size: 2.3rem;
    font-weight: 900;
    display: block;
    margin-bottom: 42px;
}

#admin-login-form {
    padding: 0;
    width: 60%;
    height: auto;
}

.form-error-message {
    height: 30px;
}

#remember_me, label[for='remember_me'] {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

#remember_me {
    -webkit-appearance: checkbox;
}

@media screen and (max-width: 1000px) {
    #page-content {
        width: 80%;
    }

    #admin-login-form {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    #page-content {
        display: block;
    }

    #pic-art {
        flex: 0;
    }
}

@media screen and (max-width: 500px) {
    #admin-login-form-block {
        padding-left: 30px;
    }
}

@media screen and (max-width: 300px) {
    #page-content {
        width: 95%;
    }
}