body {
    background-color: #EDF0F4;
    font-family: 'Nunito', sans-serif, Raleway;
}

body * {
    font-family: inherit;
}

input[type='text']:focus {
    outline: none;
}

button {
    background: none;
}

textarea {
    /* padding: 5px; */
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

textarea:focus {
    outline: none;
}

h1, h2, h3 {
    display: block;
    margin: 5px auto;
    width: 95%;
}

h1 {
    margin: 3px auto 10px;
}

h3 {
    margin: 10px auto 3px;
    color: #474A4C;
}

h2 {
    margin: 25px auto 10px;
}

h1:first-letter, h3:first-letter {
    text-transform: capitalize;
}

.add-button {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3em !important;
}

.add-button:hover {
    /* border: 1px solid black; */
    box-shadow: 0 0 0 1px black inset;
    font-weight: bold;
}

.flashed-message {
    font-weight: bold;
    color: red;
}

#error {
    width: 80%;
    margin-left: 2.5%;
    margin-right: auto;
    margin-bottom: 1rem;
}

#error > div {
    width: 100%;
    display: flex;
    align-items: center;
    border-color: red;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: red;
    background: rgb(255, 219, 219);
    margin-bottom: 3px;
}

.error-messages {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 3px 0;
}

.error-message {
    font-size: 0.9rem;
    font-weight: 500;
}

/* .error-message::before {
    content: '\21';
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
} */

#error > div span {
    margin: 3px 15px 0;
    font-size: 0.7rem;
}

#error > div span a:hover {
    cursor: pointer;
    color:rgb(255, 139, 139)
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.flex-container-panel {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
    box-sizing: border-box;
}
  
.flex-item-panel-left {
    flex: 10%;
    max-height: 100%;
    overflow-y: hidden;
    /* background-color: rgb(235, 255, 255); */
    background-color: white;
    box-sizing: border-box;
    z-index: 5;
    /* border-right: 1px solid black; */
    box-shadow: 2px 0 3px #999999;
}
  
.flex-item-panel-right {
    flex: 90%;
    max-height: 100%;
    overflow-y: auto;
}

div#icon0 {
    height: 74px;
    display: flex;
    justify-content: center;
}

div#icon0 img {
    width: 90%;
    height: 50px;
    /* object-fit: cover; */
    margin: auto;
    display: block;
}

a.panel-selection {
    text-decoration: none;
    position: relative;
    display: block;
    height: 30px;
    width: 100%;
    text-align: center;
    color: #5D5F61;
    font-weight: 700;
    box-sizing: border-box;
}

a.panel-selection-selected {
    background-color: #F2F7FC;
    color: #045FC7;
    font-weight: 900;
    border-left-color: #045FC7;
    border-left-width: 3px;
    border-left-style: solid;
}

a.panel-selection div {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input {
    -webkit-appearance: none;
}