html {
    font-size: 0.9rem;
}

@media all and (max-width: 500px), 
all and (max-height: 480px) {
    html {
        font-size: 0.8rem;
    }
}

body {
    /* background-color: #EDF0F4; */
    font-family: 'Poppins', 'Nunito', sans-serif, Raleway;
}

body * {
    font-family: inherit;
}

input[type='text']:focus {
    outline: none;
}

button {
    background: none;
}

textarea {
    /* padding: 5px; */
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

textarea:focus {
    outline: none;
}

h1, h2, h3 {
    display: block;
    margin: 5px auto;
    width: 95%;
}

h1 {
    margin: -10px auto 11px;
}

h3 {
    margin: 10px auto 1px;
    color: #474A4C;
}

h2 {
    margin: 25px auto 10px;
}

h1:first-letter, h3:first-letter {
    text-transform: capitalize;
}

.add-button {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.add-button:hover {
    /* border: 1px solid black; */
    /* box-shadow: 0 0 0 1px black inset; */
    font-weight: bold;
}

.flashed-message {
    font-weight: bold;
    color: red;
}

#error {
    width: 80%;
    margin-left: 2.5%;
    margin-right: auto;
    margin-bottom: 1rem;
}

#error > div {
    width: 100%;
    display: flex;
    align-items: center;
    /* border-color: red;
    border-style: solid;
    border-width: 1px; */
    border-radius: 5px;
    color: red;
    background: rgb(255, 219, 219);
    margin-bottom: 3px;
}

.error-messages {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 3px 0;
}

.error-message {
    font-size: 0.9rem;
    font-weight: 500;
}

/* .error-message::before {
    content: '\21';
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
} */

#error > div span {
    margin: 3px 15px 0;
    font-size: 0.7rem;
}

#error > div span a:hover {
    cursor: pointer;
    color:rgb(255, 139, 139)
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.flex-container-panel {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    overflow-y:hidden;
    box-sizing: border-box;
}
  
.flex-item-panel-left {
    /* flex: 10%; */
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 100%;
    overflow-y: hidden;
    /* background-color: rgb(235, 255, 255); */
    background-color: white;
    box-sizing: border-box;
    z-index: 5;
    /* border-right: 1px solid black; */
    box-shadow: 2px 0 3px #999999;
    position: relative;
}
  
.flex-item-panel-right {
    /* flex: 90%; */
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 100%;
    overflow-y: auto;
}

div#icon0 {
    height: 74px;
    display: flex;
    justify-content: center;
}

div#icon0 img {
    width: 0;
    height: 50px;
    /* object-fit: cover; */
    margin: auto;
    display: none;
}

div#icon0 button {
    outline: none;
    border: none;
    display: none;
    transition: all;
    transition-duration: 0.5s;
}

div#icon0 button.minimized {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
}

a.panel-selection {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    text-align: center;
    color: #5D5F61;
    font-size: 1.05rem;
    font-weight: 700;
    box-sizing: border-box;
    padding-right: 10px;
}

a.panel-selection:last-child {
    position: absolute;
    bottom: 10px;
}

a.panel-selection:last-child:hover {
    color: rgb(255, 75, 75);
}

a.panel-selection:hover {
    background-color: rgb(247, 247, 247);
    color: #393a3a;
}

a.panel-selection-selected {
    background-color: #F2F7FC;
    color: #045FC7;
}

a.panel-selection-selected:hover {
    color: #045FC7;
}

a.panel-selection span {
    display: block;
    height: 100%;
    width: 3px;
    box-sizing: border-box;
}

a.panel-selection-selected span {
    border-left-color: #045FC7;
    border-left-width: 3px;
    border-left-style: solid;
}

a.panel-selection i {
    margin: auto 5px auto 15px;
    width: 19px;
}

a.panel-selection div {
    /* width: 100%; */
    margin: 0;
    box-sizing: border-box;
    width: 0;
    overflow-x: hidden;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
    text-align: left;
    white-space: nowrap;
    /* position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

@media (hover: hover) {
    .flex-item-panel-left:hover a.panel-selection div {
        /* margin-right: 60px; */
        margin-right: 15px;
        margin-left: 5px;
        width: 90px;
        transition: width, margin;
        transition-duration: 0.1s;
        transition-delay: 0.3s;
        transition-timing-function: linear;
    }
}

input {
    -webkit-appearance: none;
}

#loading-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(88, 88, 88, 0.6);
    z-index: 4;
}

#loading-screen {
    font-weight: 800;
    --bg-color: rgba(255, 255, 255, 0.7);
    background: var(--bg-color);
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.words {
    color: var(--bg-color);
    font-size: 0;
    line-height: 1.5;
}

.words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-30%, 0);
    }
    50% {
        text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
        transform: translate(30%, 0);
    }
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}

.words span:nth-child(3) {
    animation-delay: 1s;
}

.words span:nth-child(4) {
    animation-delay: 1.5s;
}

.words span:nth-child(5) {
    animation-delay: 2s;
}

.words span:nth-child(6) {
    animation-delay: 2.5s;
}

.words span:nth-child(7) {
    animation-delay: 3s;
}

.words span:nth-child(8) {
    animation-delay: 3.5s;
}

.words span:nth-child(9) {
    animation-delay: 4s;
}

.words span:nth-child(10) {
    animation-delay: 4.5s;
}

.words span:nth-child(11) {
    animation-delay: 5s;
}