/* .editable-content {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    background-color: lightcoral;
    border-style: none;
} */

.editable {
    background-color: white;
    padding: 5px 10px;
    width: 85%;
    border-radius: 5px;
    margin: 5px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgb(105, 105, 105);
}

.editable > div {
    /* clearing float */
    overflow: auto;
}

.editable-content {
    vertical-align: bottom;
    display: inline-block;
    /* width: 85%;
    min-width: 85%;
    max-width: 85%; */
    max-height: 60px; /* fix this, causing reply messages overflow */
    border-style: none; 
    border-color: Transparent; 
    overflow: auto;
    outline: none;
    word-break: break-word;
}

textarea.editable-content {
    height: 70px;
}

input[class*='button'], button[class*='button'] {
    border-style: none;
    background-color: transparent;
    /* float: right; */
    font-weight: 600;
    text-decoration: none;
    font-size: 13.3333px;
    text-align: center;
}

input[class*='button']:hover, button[class*='button']:hover {
    cursor: pointer;
}

.editable form, 
.responses form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* changed .editable form button/etc to only .editable button, change back if there is any bug */
.editable button, 
.responses button {
    flex-grow: 0;
    flex-shrink: 0;
}

.editable textarea, .editable .editable-content, 
.responses form textarea, .responses form .editable-content {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;
}

@media all and (max-width: 700px) {
    .editable form, 
    .itents-add-elem .editable, 
    .responses form {
        flex-wrap: wrap;
    }

    .editable textarea, .editable .editable-content, 
    .responses form textarea, .responses form .editable-content {
        width: 100%;
    }

    .editable button:first-of-type, 
    .responses form button:first-of-type {
        margin-left: auto;
    }
}

.edit-button {
    color: #2b83f7;
}

.edit-button:hover {
    color: #6BA4EE;
}

.save-button {
    color: #35aa89;
    border-color: #35aa89;
}

.save-button:hover {
    color: #04C78F;
    border-color: #04C78F
}

.delete-button, .cancel-button {
    color: #eb5151;
}

.delete-button:hover, .cancel-button:hover {
    color: #FA8585;
}

button::before {
    margin-right: 0.2rem;
    font-size: 0.75rem;
}

.editable-edit .save-button::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f0c7";
}

.edit-button::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f304";
}

.delete-button::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    /* content: url('https://img.icons8.com/material/17/fa314a/delete-forever--v2.png'); */
    font-family: "Font Awesome 6 Free";
    font-weight: 400; /* use 900 for fuller version */
    /* content: "\f1f8"; */
    content: "\f2ed";
    /* float: left; /* using float without clearing it so that no vertical space will be taken */
}

.editable-edit .cancel-button::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00d";
    vertical-align: middle;
}


/* .delete-button:hover::before {
    content: url('https://img.icons8.com/material/17/ff7383/delete-forever--v2.png');
    color: #ff7383;
} */

/* .delete-button:hover, .cancel-button:hover {
    transition: all;
    transition-duration: 0.7s;
    transition-delay: 1s;
} */