body {
    margin: 0;
    height: 100%;
}

.flex-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
.flex-item-left {
    flex: 20%;
    max-height: 100%;
    overflow-y: auto;
    /* background-color: rgb(235, 255, 255); */
    background-color: #F2F7FC;
    /* background-color: white; */
    box-sizing: border-box;
    /* border-right: 1px solid black; */
    box-shadow: 2px 0 5px #888888;
}
  
.flex-item-right {
    flex: 90%;
    max-height: 100%;
}

#intent-search-bar {
    padding: 3px 5px;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
}

#intent-search-bar {
    background-image: url('https://img.icons8.com/windows/19/111111/search--v2.png');
    background-position: 3px center;
    border-width: 1;
    outline: none;
    border-color: #999999;
    background-repeat: no-repeat;
    text-indent: 20px;
}

#intent-search-bar:focus {
    background-image: none;
    text-indent: 0px;
    box-shadow: 0 0 5px #888888;
}

#intent-item-list {
    padding: 5px;
    padding-left: 10px;
}

.intent-item a {
    display: inline-block;
    width: 90%;
    overflow-wrap: break-word;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.intent-item a:hover {
    font-weight: bold;
}

.intent-delete-button:hover {
    color: red;
}

#intent-search-bar {
    display: block;
    width: 90%;
    margin: 5px auto;
}
