body {
    margin: 0;
    height: 100%;
}

.flex-container {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
.flex-item-left {
    flex: 20%;
    /* width: 18.2%; */
    min-width: 190px;
    max-width: 250px;
    max-height: 100%;
    overflow-y: auto;
    /* background-color: rgb(235, 255, 255); */
    /* background-color: #F2F7FC; */
    /* background-color: white; */
    box-sizing: border-box;
    /* border-right: 1px solid black; */
    box-shadow: 2px 0 5px #888888;
    display: flex;
    flex-direction: column;
    /* position: absolute;
    z-index: 666; */
}

@media screen and (max-width: 650px) {
    .flex-item-left {
        flex: 1;
        position: absolute;
        width: 100%;
        max-width: 100%;
        background: white;
        z-index: 1;
        transition: width, opacity;
        transition-duration: 0.5s;
        white-space: nowrap;
    }

    .flex-item-right {
        position: absolute;
        z-index: 0;
    }

    .flex-item-left-hidden {
        flex: 0;
        width: 0;
        min-width: 0;
        margin: 0;
        opacity: 0;
    }

    div#icon0 button {
        display: inline-block;
    }
}
  
.flex-item-right {
    /* position: relative; */
    flex: 90%;
    /* width: 81.8%; */
    max-height: 100%;
    overflow-y: auto;
}

#intent-search-bar {
    padding: 3px 5px;
    font-size: 0.9375rem;
    border-radius: 3px;
    outline: none;
    flex-grow: 0;
    flex-shrink: 0;
}

#intent-search-bar {
    background-image: url('https://img.icons8.com/windows/19/111111/search--v2.png');
    background-position: 3px center;
    border-width: 1;
    outline: none;
    border-color: #999999;
    background-repeat: no-repeat;
    text-indent: 20px;
    display: block;
    width: 83%;
    margin: 5px auto;
}

#intent-search-bar:focus {
    background-image: none;
    text-indent: 0px;
    box-shadow: 0 0 5px #888888;
}

#intent-item-list {
    padding: 5px;
    padding-left: 10px;
    overflow-y: scroll;
    padding-bottom: 50px;
    scrollbar-width: none;
}

/* .intent-item-wrapper {
    margin-bottom: 5px;
} */

#intent-item-list::-webkit-scrollbar-thumb {
    visibility: hidden;
}

#intent-item-list:active::-webkit-scrollbar-thumb {
    visibility: visible; /* originally intended to make scrollbar only visible when scrolling, but it doesn't have any effect */
}

.intent-item {
    display: flex;
    justify-content: flex-start;
}

.intent-item span {
    flex: 1;
    color: black;
    font-size: 0.9375rem;
    text-align: center;
}

.intent-item span i {
    line-height: 100%;
    font-size: 0.6875rem;
    vertical-align: middle;
}

.intent-item a {
    /* display: inline-block; */
    flex: 8;
    /* width: 90%; */
    overflow-wrap: break-word;
    word-break: break-all;
    text-decoration: none;
    color: black;
    font-size: 0.9375rem;
}

.intent-item a b {
    line-height: 100%;
    vertical-align: middle;
}

.intent-item a:hover {
    font-weight: bold;
}

.intent-item form {
    flex: 1;
}

/* .intent-item form input:hover {
    color: red;
} */

.intent-item form button {
    font-size: 0.6rem;
    line-height: 100%;
    vertical-align: middle;
}

#intent-item-list .add-button {
    /* --r: 0.5rem;
    width: calc(var(--r) * 2);
    height: calc(var(--r) * 2);
    line-height: calc(var(--r) * 2);
    border-radius: var(--r); */
    --dark-grey: rgb(70, 70, 70);
    --light-grey: rgb(122, 122, 122);
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--light-grey);
    /* box-shadow: 0 0 0 0.7px black inset; */
    text-align: center;
}

#intent-item-list .add-button:hover {
    color: var(--dark-grey);
}

#intent-item-list .add-button::after {
    content: "new intent";
    display: inline-block;
    box-sizing: border-box;
    background-color: var(--dark-grey);
    color: white;
    border-radius: 3px;
    transition: width, padding, opacity;
    transition-duration: 0.5s;
    transition-delay: 0.3s;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    overflow-x: hidden;
    position: absolute;
    transform: translateX(-55%);
    font-size: 0.9rem;
}

#intent-item-list .add-button:hover::after {
    width: 90px;
    font-weight: 400;
    opacity: 1;
}

.intent-delete-button:hover {
    color: red;
}

#intent-item-list hr {
    width: 85%;
}
