#reply-messages-adding {
    width: 95%;
    margin: 5px auto;
}

label {
    display: block;
}

#reply-messages-adding textarea {
    margin-top: 5px;
    width: 85%;
    box-sizing: border-box;
    max-width: 85%;
    min-width: 85%;
    height: 70px;
    max-height: 70px;
    min-height: 70px;
    padding: 5px;
}

#training-samples-add {
    width: 95%;
    margin: 5px auto;
    max-height: 30%;
    overflow-y: auto;
}

#intent-name-input {
    font-size: 23px;
    display: inline-block;
    padding: 6px;
}

.editable {
    display: flex;
    margin-left: 1px;
}

.save-button, .cancel-button {
    font-size: 17px !important;
    text-decoration: none;
    font-weight: bold;
    float: right;
    padding: 5px 15px;
    border-radius: 5px;
    /* border-style: solid !important;
    border-width: 2px; */
    background-color: white !important;
}

.save-button {
    margin-right: 2.5%;
    margin-left: 1%;
}

.add-button { /* add-on */
    float: none !important;
    position: relative;
    display: block;
    width: calc(100% * 0.95 * 0.85);
    margin: 5px auto;
    margin-left: 2.5%;
}