html {
    height: 100%;
    --footer-height: 90px;
}

body {
    font-family: 'Nunito', sans-serif, Raleway, Garamond;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#content {
    height: 200%;
    --scrollFraction: 0;
}

footer {
    position: relative;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
    height: var(--footer-height);
    color: white;
}

footer * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
}

footer div {
    font-size: 0.65rem;
    transform: translate(-100%, -170%);
}

footer img {
    transform: translate(-20%, -23%);
}

*:focus {
    outline: none;
}

#wrapD3Cube {
    /* width: 250px;
    height: 213px; */
    position: fixed;
    --ori-bottom: 55%;
    bottom: var(--ori-bottom);
    left: 0;
    transform: translate(0, 50%);
    transition: bottom;
    transition-duration: 0.7s;
    transition-delay: 0;
}
#D3Cube {
    --cube-length: 500px;
    --z-translate: calc(var(--cube-length)/2);
    width: var(--cube-length);
    height: var(--cube-length);
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    --rotation: 0deg;
    --x_angle: -15deg;
    --y_angle: calc(0deg - var(--rotation) - 68deg);
    --z_angle: 0deg;
    transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    -moz-transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    -webkit-transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    margin: auto;
    position: relative;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* -webkit-transition: all 0.5s ease-in-out; */
    /* transition: all 0.5s ease-in-out; */
}
#D3Cube > div {
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: var(--cube-length);
    height: var(--cube-length);
    float: left;
    overflow: hidden;
    opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #FFF;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #ffaf1c;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #26e07f;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #ed3030;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    /* background-color: #1c5ffe; */
    background-color: cornflowerblue;
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #f2f215;
}

#D3Cube div img {
    display: block;
    /* width: 100%; */
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#D3Cube #side4 img {
    left: 50%;
    transform: translate(-45%, -50%);
}

#D3Cube #side5 img {
    width: 100%;
}

#D3Cube #side4 img, #introduction div:first-child {
    opacity: calc(1 - var(--scrollFraction));
}

#D3Cube #side5 img, #introduction div:nth-child(2) {
    width: 100%;
    opacity: var(--scrollFraction);
}

/* #D3Cube {
    -webkit-animation: cubeRotation 5s infinite;
    animation: cubeRotation 5s infinite;
} */
@-webkit-keyframes cubeRotation {
    0%   {  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);  }
    100%   {    -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}
@keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);  }
    100%   {    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}

#introduction {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 50%;
    --ori-bottom: 0%;
    bottom: var(--ori-bottom);
    transition: bottom;
    transition-duration: 0.7s;
    transition-delay: 0;
}

#introduction div {
    margin: 30% 50px 0;
    position: absolute;
}

#introduction h1, #introduction h2 {
    margin: 0;
    text-align: left;
    width: auto;
}