html {
    height: 100%;
    --footer-height: 90px;
}

body {
    font-family: 'Poppins', 'Nunito', sans-serif, Raleway, Garamond;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 2.5rem;
}

h3 {
    color: black;
    font-size: 1.25rem;
    margin-top: 3px;
    text-align: center;
}

#content {
    height: 250%;
    --scrollFraction1: 0;
    --scrollFraction2: 0;
}

footer {
    position: relative;
    font-family: Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    width: 100%;
    height: var(--footer-height);
    color: white;
}

footer * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 700;
}

footer div {
    font-size: 0.65rem;
    transform: translate(-100%, -170%);
}

footer img {
    transform: translate(-20%, -23%);
}

*:focus {
    outline: none;
}

#wrapD3Cube {
    /* width: 250px;
    height: 213px; */
    position: fixed;
    --ori-bottom: 55%;
    bottom: var(--ori-bottom);
    left: 0;
    transform: translate(0, 50%);
    transition: bottom;
    transition-duration: 0.7s;
    transition-delay: 0;
}
#D3Cube {
    --cube-length: 500px;
    --scaling: 1;
    --cube-length-s: calc(var(--cube-length) * var(--scaling));
    --z-translate: calc(var(--cube-length-s)/2);
    width: var(--cube-length-s);
    height: var(--cube-length-s);
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-origin: center center var(--z-translate);
    --x_angle: calc(-15deg * var(--scrollFraction1));
    --rotation1: calc(-158deg * var(--scrollFraction1));
    --rotation2: 0deg;
    --y_angle: calc(var(--rotation1) - var(--rotation2));
    --z_angle: 0deg;
    transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    -moz-transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    -webkit-transform: rotateX(var(--x_angle)) rotateY(var(--y_angle)) rotateZ(var(--z_angle));
    margin: auto;
    position: relative;
    display: inline-block;
    /* -webkit-transition: all 0.5s ease-in-out; */
    /* transition: all 0.5s ease-in-out; */
}
#D3Cube .box-surface {
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    --cube-opacity: 0.85;
    position: absolute;
    /* -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; */
    width: var(--cube-length-s);
    height: var(--cube-length-s);
    --angle: calc(180deg + var(--scrollFraction1) * (var(--closed-angle) - 180deg));
    /* --angle: var(--closed-angle); */
    /* float: left; */
    /* overflow: hidden; */
    /* opacity: 0.85; */
}
/* #side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #FFF;
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #26e07f;
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #2aa198;
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: cornflowerblue;
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #ed3030;
} */
/* background-color: #1c5ffe; */

/* #side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -moz-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    -webkit-transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(var(--z-translate));
    background-color: #f2f215;
} */

.bottom {
    background-color: #ffc756;
    background-color: rgba(255, 199, 86, var(--cube-opacity));
    --closed-angle: 270deg;
    transform: rotateX(var(--angle));
    /* transform: rotateX(180deg); */
    transform-origin: bottom;
}
.top {
    background-color: #EAE7E2;
    background-color: rgba(234, 231, 226, var(--cube-opacity));
    /* background-color: rgba(174, 175, 189, var(--cube-opacity)); */
    --closed-angle: 270deg;
    transform: rotateX(var(--angle));
    /* transform: rotateX(45deg); */
    transform-origin: bottom;
}
.left {
    background-color: #ed3030;
    background-color: rgba(237, 48, 48, var(--cube-opacity));
    --closed-angle: 270deg;
    transform: rotateY(var(--angle));
    /* transform: rotateY(180deg); */
    transform-origin: left;
}
.back {
    background-color: cornflowerblue;
    background-color: rgba(100, 149, 237, var(--cube-opacity));
    transform: rotateY(180deg);
}
.right {
    background-color: #2aa198;
    background-color: rgba(42, 161, 152, var(--cube-opacity));
    --closed-angle: 90deg;
    transform: rotateY(var(--angle));
    /* transform: rotateY(180deg); */
    transform-origin: right;
}
.front {
    background-color: #27206D;
    background-color: rgba(39, 32, 109, var(--cube-opacity));
    transform: rotateX(var(--angle));
    /* transform: rotateX(180deg); */
    transform-origin: top;
}

#D3Cube .box-surface a {
    display: block;
    height: 100%;
    width: 100%;
}

#D3Cube .box-surface img {
    display: block;
    width: 100%;
    height: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* #D3Cube #side5 img {
    left: 50%;
    transform: translate(-45%, -50%);
} */

#D3Cube #side4 img {
    width: 100%;
}

#introduction div:first-child {
    opacity: calc(1 - var(--scrollFraction1))
}

#D3Cube #side4 img, #introduction div:nth-child(2) {
    opacity: calc(var(--scrollFraction1) - var(--scrollFraction2));
}

#D3Cube #side5 img, #introduction div:nth-child(3) {
    opacity: var(--scrollFraction2);
}

/* #D3Cube {
    -webkit-animation: cubeRotation 5s infinite;
    animation: cubeRotation 5s infinite;
} */
@-webkit-keyframes cubeRotation {
    0%   {  -webkit-transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);  }
    50%   { -webkit-transform: rotateX(-22deg) rotateY(-128deg) rotateZ(0deg);  }
    100%   {  -webkit-transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}
@keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);  }
    50%   { transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);  }
    100%   {  transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}

#introduction {
    position: fixed;
    width: 50%;
    height: 100%;
    left: 50%;
    --ori-bottom: 0%;
    bottom: var(--ori-bottom);
    transition: bottom;
    transition-duration: 0.7s;
    transition-delay: 0;
}

#introduction div {
    padding: 30% 50px 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#introduction h1, #introduction h2 {
    margin: 0;
    text-align: left;
    width: auto;
    word-wrap: anywhere;
    max-width: calc(100% - 40px);
}

#introduction h1 {
    letter-spacing: 3px;
}

#introduction h2 {
    color: grey;
    font-weight: 600;
    font-size: 0.9rem;
}

#introduction p {
    max-width: 80%;
}

@media all and (max-width: 720px), 
all and (max-height: 480px) {
    #D3Cube {
        --scaling: 0.7;
    }

    #introduction {
        left: 37%;
        width: 63%;
    }

    #introduction div {
        padding: 30px 20px 10px;
    }

    #introduction h1 {
        font-size: 1.3rem;
        letter-spacing: 2px;
    }

    #introduction h2 {
        font-size: 0.7rem;
        
    }

    #introduction p {
        font-size: 0.8rem;
        max-width: 93%;
        padding-right: 5%;
    }
}

@media all and (max-width: 500px) {
    #introduction p {
        position: absolute;
        width: 116%;
        max-width: 116%;
        left: -41%;
        top: 21%;
    }

    #wrapD3Cube {
        --ori-bottom: 91%;
    }
}