form {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30% 10%;
    padding-bottom: 0;
    margin: 0;
    position: relative;
    /* overflow: hidden; */
}

@media all and (max-height: 400px) {
    form {
        padding-top: 10%;
    }
}

@media all and (max-height: 480px) and (min-width: 430px) {
    form {
        padding-top: 83px;
    }
}

.line {
    width: 100%;
    position: relative;
}

form label {
    letter-spacing: 0.1rem;
}

form input {
    outline: none;
    border: none;
    display: block;
    box-sizing: border-box;
    padding: 11px 0 7px;
    background-color: inherit;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

form input::placeholder {
    color: rgb(190, 190, 190);
}

form input:focus + div span, 
form input:valid + div span {
    width: 100%;
}

form input:valid + div span {
    border-color: green;
}

form span {
    display: block;
    height: 0;
    margin: 0;
    /* margin-bottom: 15%; */
    padding: 0;
    width: 100%;
    border-top: 3px solid black;
}

form span:nth-last-child(2n) {
    border-color: rgb(190, 190, 190);
    /* border-color: rgb(255, 146, 146); */
    position: absolute;
}

form span:nth-child(2n) {
    border-color: rgb(77, 77, 77);
    position: relative;
    width: 0;
    transition-property: width;
    transition-duration: 0.7s;
    transition-delay: 0;
}

.form-error-message {
    display: block;
    /* position: absolute; */
    height: 15%;
    width: 100%;
    font-size: 0.7rem;
    color: rgb(248, 97, 97);
}

#form-error-message_submit {
    height: 13%;
}

form input[type='submit'] {
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 5px 0 0 rgb(37, 98, 155);
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0;
    margin-top: 15%;
}

@media all and (max-height: 480px) {
    form input[type='submit'] {
        margin-top: 7%;
    }
}

form input[type='submit']:active {
    box-shadow: 0 0 0 0;
    transform: translateY(5px);
}

form input[type='submit']:hover {
    cursor: pointer;
}