.hidden {
    transform: scaleX(0) scaleY(0);
    transform-origin: 100% 100%;
    opacity: 0;
}

#chatsection {
    /* -webkit-text-size-adjust: 120%; */
    height: 455px;
    width: 277px;
    font-family: 'Nunito', sans-serif, Raleway;
    font-weight: 400;
    font-size: 0.8125rem;
    border-style: solid;
    border-width: 1px;
    border-color: #BBBBBB;
    border-radius: 3px;
    padding: 0px;
    /* background-color: #EDF0F4; */
    /* background-color: #FAFAFA; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    overflow-x: hidden;
}

@media
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
    html { 
        font-size: 1.2rem;
    }
}

#chatcircle {
    background-color: rgb(104, 172, 235);
    width: 70px;
    height: 70px;
    border-radius: 35px;
}

#chatcircle:hover {
    cursor: pointer;
}

#chatsection, #chatcircle {
    position: fixed;
    bottom: 5%;
    right: 5%;
    transition: all;
    transition-duration: 0.7s;
    transition-delay: 0;
}

#chatcircle > span {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media all and (max-width: 500px), 
all and (max-height: 480px) {
    #chatsection {
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        transform-origin: 92% 92%;
    }
}

#chatheader {
    /* height: 7%; */
    flex-basis: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
}

#user-info-form-header {
    height: 2rem;
    position: absolute;
    width: 100%;
    z-index: 3;
}

#chatheader > div, #user-info-form-header > div {
    position: relative;
    color: #AAAAAA;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 9px;
}

#chatheader > div:hover, #user-info-form-header > div:hover {
    color: black;
    font-weight: 900;
    cursor: pointer;
}

#chatbox {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* height: 85%; */
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
    border-style: solid;
    border-width: 1px 0px;
    border-color: #BBBBBB;
    box-sizing: border-box;
}

#userInput {
    font-size: inherit;
    width: 100%;
    /* flex-basis: 36px; */
    min-height: 2.25rem;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    /* height: 8%; */
    /* padding-top: 2px; hack */
}

#hack {
    /* font-size: 13px;
    font-family: Raleway; */
    /* width: 80%; */
    margin: 0;
    padding: 0;
    background:rgb(195, 247, 195);
    position: absolute;
    /* min-height: 15.33px; */
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 3;
    visibility: hidden;
}

#textInput {
    padding: 5px 10px;
    margin: 3px;
    border: none;
    /* border-bottom: 1px solid #323335; */
    resize: none;
}

#hack, #textInput {
    width: 77%;
    max-width: 77%;
}

#buttonInput {
    padding: 0px;
    border-style: none;
    align-self: flex-end;
    margin-bottom: 9px;
    color: #045FC7;
    font-size: 0.83rem;
}

#buttonInput:hover {
    cursor: pointer;
    color: rgb(211, 211, 211);
}

.area {
    margin-bottom: 15px;
}

.botText, .userText {
    padding: 0px;
    margin: 5px 10px 5px;
    /* margin-bottom: 15px; */
}

#chatbox > div > div > span {
    display: inline-block;
    margin: 0px;
    /* padding: 7px 13px; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width: 69%;
    /* text-align: left; */
}

#chatbox span > span {
    text-align: left;
    display: inline-block;
    margin: 0px;
    padding: 7px 13px;
}

.userText {
    text-align: right;
}

.userText span span {
    display: inline-block;
    width: fit-content;
    background-color: #04C78F;
    border-radius: 10px 10px 0px 10px;
    /* padding-right: 10px !important; */
}

/* .botText:not(:first-child) {
    margin-bottom: 25px;
} */

.botText span > span {
    background-color: #6BA4EE;
    border-radius: 0px 10px 10px 10px;
    /* padding-left: 10px !important; */
}

.selection span {
    color: green;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    border-color: green;
    border-style: solid;
    margin: 3px 10px;
    border-width: 1px;
    display: inline-block;
}

.selection span:hover {
    color: lightgreen;
    border-color: lightgreen;
    cursor: pointer;
}

.selection.rejected span {
    border-color: rgb(230, 84, 84);
    border-width: 1px;
    color: rgb(230, 84, 84);
}

.selection.rejected span:hover {
    border-color: lightsalmon;
    color: lightsalmon;
}

.botText button[class^='thumbs'] {
    display: block;
    position: relative;
    border-radius: 5px;
    border: none;
    padding: 3px 7px;
    float: right;
    top: -5px;
}

.botText button[class^='thumbs']:hover {
    /* padding: 2px 6px; */
    cursor: pointer;
}

.botText .thumbsdown {
    background-color: pink;
    color: #E34040;
    /* right: 50px; */
}

.botText .thumbsdown:hover {
    /* border: solid 1px #E34040; */
    transform-origin: 50% 50%;
    transform: scale(1.2);
}

.botText .thumbsup {
    background-color: rgb(195, 247, 195);
    color: #26e07f;
    display: None !important;
    /* right: 50px; */
}

.botText .thumbsup:hover {
    border: solid 1px rgb(0, 128, 0);
    display: None;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}


:root {
    --animationTime: 0.8s;
    --dotSize: 0.4375rem;
}

.loader {
    text-align: center;
}

.loader span {
    margin-right: 0.1875rem;
    display: inline-block;
    vertical-align: middle;
    width: var(--dotSize);
    height: var(--dotSize);
    background: black;
    border-radius: var(--dotSize);
    animation: loader var(--animationTime) infinite alternate;
}

.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}