<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
        {% block import %}{% endblock %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js')}}"></script>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
	</head>
    <body>
        <div class='flex-container-panel'>
            <div class='flex-item-panel-left'>
                <div id='icon0'><img src="{{ url_for('static', filename='img/flask.png') }}" alt=""></div>
                <hr style='width: 75%;'>
                <a  class='panel-selection {% if current_page=="intents" %}panel-selection-selected{% endif %}' href='{{ url_for("intents_base") }}'><div>intents</div></a>
                <a  class='panel-selection {% if current_page=="missed" %}panel-selection-selected{% endif %}' href='{{ url_for("missed") }}'><div>missed</div></a>
            </div>
            <div class='flex-item-panel-right'>
                {% block body %}{% endblock body %}
            </div>
        </div>
    </body>
</html>