<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css" integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        <!-- <script src="https://use.fontawesome.com/312841a3fe.js"></script> -->

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css"> <!-- style for angular material -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        {% block import %}{% endblock %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js')}}"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
        
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
    <body>
        <div class='flex-container-panel'>
            <div class='flex-item-panel-left'>
                <div id='icon0'><img src="{{ url_for('static', filename='img/flask.png') }}" alt=""></div>
                <hr style='width: 75%;'>
                <a  class='panel-selection {% if current_page=="dashboard" %}panel-selection-selected{% endif %}' href='{{ url_for("dashboard") }}'>
                    <!-- <i class="fas fa-tachometer-alt"></i> -->
                    <span></span>
                    <i class="fas fa-chart-bar"></i>
                    <div>Dashboard</div>
                </a>
                <a  class='panel-selection {% if current_page=="intents" %}panel-selection-selected{% endif %}' href='{{ url_for("intents_base") }}'>
                    <span></span>
                    <i class="fas fa-cubes"></i>
                    <!-- <i class="fas fa-project-diagram"></i> -->
                    <div>Intents</div>
                </a>
                <a  class='panel-selection {% if current_page=="missed" %}panel-selection-selected{% endif %}' href='{{ url_for("missed") }}'>
                    <span></span>
                    <i class="fas fa-question-circle"></i>
                    <!-- <i class="fas fa-inbox"></i> -->
                    <div>Missed</div>
                </a>
                <a  class='panel-selection {% if current_page=="setting" %}panel-selection-selected{% endif %}' href='{{ url_for("setting") }}'>
                    <span></span>
                    <i class="fas fa-cogs"></i>
                    <div>Setting</div>
                </a>
            </div>
            <div class='flex-item-panel-right'>
                {% block body %}{% endblock body %}
            </div>
        </div>
    </body>
</html>