<div class='editable'>
    <div id='{{ category }}-display_{{ target.id }}' class='editable-display'>
        <span id='{{ category }}_{{ target.id }}' class="editable-content">{{ content }}</span>
        <form action="{{ action }}" method='POST' style='display:inline'>
            <input type="hidden" name="id" value={{ target.id }}>
            <input type="hidden" name="job" value="delete">
            <input id='delete-button_{{ target.id }}' class='delete-button' type='image' src='https://img.icons8.com/material/17/fa314a/delete-forever--v2.png'>
            <input id='edit-button_{{ target.id }}' class='edit-button' type='submit' value='edit' form='' onclick="show_edit_space(this.id, '{{ category }}')">
        </form>
    </div>
    <div id='{{ category }}-edit_{{ target.id }}' class='editable-edit' style='display:None;'>
        <!-- <span class='utterance'>editting</span> -->
        <form action="{{ action }}" method='POST' style='display:inline;'>
            <input type="hidden" name="id" value={{ target.id }}>
            <input type="hidden" name="job" value="update">
            <textarea id='{{ category }}-e_{{ target.id }}' name='modified_content' rows=3 class='editable-content' ori_value='{{ content }}' required>{{ content }}</textarea>
            <!-- <input id='{{ category }}-e_{{ target.id }}' name='modified_content' type='text' class='editable-content' value='{{ content }}' ori_value='{{ content }}' required> -->
            <input id='cancel-button_{{ target.id }}' class='cancel-button' type='submit' value='cancel' form='' onclick="cancel_edit_space(this.id, '{{ category }}')">
            <input id='save-button_{{ target.id }}' class='save-button' type='submit' value='save'>
        </form>
    </div>
</div>

