{% extends "base.html" %}

{% block title %}Managing Intents{% endblock %}

{% block import %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editable_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/intents_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/intents_edit_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/editable.js')}}"></script>
{% endblock %}

{% block body %}
    <div class='flex-container'>
        <div class='flex-item-left {% if intent %}flex-item-left-hidden{% endif %}'> <!--  flex-item-left-hidden -->
            <input id='intent-search-bar' type='text' placeholder=''>
            <div id='intent-item-list'>
                {% if intent %}
                    {% set current_intent = intent %}
                {% endif %}
                <a class="add-button" href="/intents_add"><i class="fa-solid fa-circle-plus"></i></a> <!-- same class as the add training sample button -->
                {% for intent in intents %}
                    <div class='intent-item-wrapper'>
                        <hr>
                        <div class='intent-item'>
                            {% if current_intent %}
                                {% if intent.id == current_intent.id %}
                                    <span><i class="fas fa-caret-right"></i></span><a><b>{{ intent.intent_name }}</b></a>
                                {% else %}
                                    <span></span><a href='/intents_edit/{{ intent.intent_name }}'>{{ intent.intent_name }}</a>
                                {% endif %}
                            {% else %}
                                <span></span><a href='/intents_edit/{{ intent.intent_name }}'>{{ intent.intent_name }}</a>
                            {% endif %}
                            <form action='/delete_intent' method='POST'>
                                {% if intent.system %}
                                {% else %}
                                    <input type="hidden" name='intent_id' value={{ intent.id }}>
                                    <button type='submit' name='intent_delete_button' class='intent-delete-button'><i class="fas fa-times"></i></button>
                                {% endif %}
                            </form>
                        </div>

                    </div>
                {% endfor %}
                
            </div>
        </div>
        <div class='flex-item-right' {% block angularjs_ng_app %}{% endblock %}>
            <div id=debug></div>
            {% block content %}{% endblock %}
        </div>
    </div>

    <script>
        $("#intent-search-bar").keyup(function(e) {
            var search_content = document.getElementById('intent-search-bar').value;
            // document.getElementById("debug").innerHTML = search_content;

            var intent_items = document.querySelectorAll('.intent-item-wrapper');

            for (i = 0; i < intent_items.length; i++) {
                var intent_item = intent_items[i];
                var intent_item_name = intent_item.querySelectorAll('a')[0]
                if (intent_item_name.innerHTML.toLowerCase().indexOf(search_content) !== -1) {
                    intent_item.style.display = 'block';
                } else {
                    intent_item.style.display = 'none';
                }
            }
            
            // if (e.which == 13 && $("#textInput").val().length != 0){
            //     getBotResponse();
            // }
        });
    </script>
{% endblock %}