{% extends "intents_base.html" %}

{% block title %}Managing {{ intent.intent_name }}{% endblock %}

{% block angularjs_ng_app %}
ng-app='appIntentsEdit' ng-controller='ctrlIntentsEdit' ng-init='getIntentsEditData();'
{% endblock %}

{% block content %}
    <h3>editing</h3>
    <h1>{{ intent.intent_name }}</h1>
    <div id='debug'></div>
    <!-- <label for='deployed'>deployed</label>
    <input type='checkbox' name='deployed' {% if intent.deployed %}checked{% endif %}>
    <label for='deployed'>deployed</label>
    <input type='checkbox' name='deployed' {% if intent.deployed %}checked{% endif %}> -->
    <hr style='width: 97%;'>
    <div id='debug'></div>
        
    <div id='error'></div>
    
    {#
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flashed-message'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    #}
    
    
    <div id="switches">
        {% if not intent.system %}
            <div>
                <div>Deployed</div>
                <md-switch ng-model="switches.deployed" aria-label="deployed_switch" ng-change="toggle({{ intent.id }}, 'deployed');"></md-switch>
            </div>
            <div>
                <div>Casual</div>
                <md-switch ng-model="switches.small_talk" aria-label="casual_switch" ng-change="toggle({{ intent.id }}, 'small_talk');"></md-switch>
            </div>
        {% endif %}
        {% if not intent.system or intent.intent_name == "opening text" %}
            <div>
                <div>Unique selections</div>
                <md-switch ng-model="switches.unique_selection" aria-label="uniqueselection_switch" ng-change="toggle({{ intent.id }}, 'unique_selection');"></md-switch>
            </div>
        {% endif %}
    </div>
    
    {% if intent.system or intent.small_talk %}
        {% set style_injection = 'style=display:none;' %}
    {% endif %}
    {% for elem in [
        ['reply-message', 'text', 'Chatbot response', 'style=height:120px;max-height:120px;'], 
        ['selection-text', 'selection', 'Selection text', 'style="height:60px"']
       ] 
    %}
        {% set category = elem[0] %}
        {% set category_field = elem[1] %}
        {% set section_title = elem[2] %}
        <h2 id='{{ category }}-title' {% if category=='selection-text' %}{{ style_injection }}{% endif %}>{{ section_title }}</h2>
        <div id='{{ category }}s-container' class='responses-container' {% if category=='selection-text' %}{{ style_injection }}{% endif %}>
            <!-- <input type='submit' name='english' value='english'>
            <input type='submit' name='malay' value='malay'> -->
            {% for response in responses %}<a class='{{ category }}-select-language-button response-select-language-button' href="" --category='{{ category }}' 
                id='{{ category }}-select-language-button_{{ response.lang }}' onclick="cancel_edit_space_reply_all('{{ category }}')">{{ response.lang[:2] }}</a>{% endfor %}
                {# <!-- href="#{{ category }}-select-language-button_{{ response.lang }}" --> #}
            <div id='{{ category }}s' class='responses'>
                {% for response in responses %}
                    <div class='{{ category }}-language-section response-language-section' id='{{ category }}-language-section_{{ response.lang }}'>
                        <div id='{{ category }}-display_{{ response.lang }}' class='{{ category }}-display response-display'>
                            <span id='{{ category }}_{{ response.lang }}' class="editable-content">{{ response[category_field] }}</span>
                            <button id='edit-button_{{ response.lang }}' class='edit-button' type='submit' 
                                form='' onclick="show_edit_space_reply(this.id, '{{ category }}')">edit</button>
                            <!-- <input id='edit-button_{{ response.lang }}' class='edit-button' type='submit' 
                                value='edit' onclick="show_edit_space_reply(this.id, '{{ category }}')"> -->
                        </div>
                        <div id='{{ category }}-edit_{{ response.lang }}' class='editable-edit' style='display:None;'>
                            <!-- <span class='utterance'>editting</span> -->
                            <form action="" method='POST'>
                                <input type="hidden" name="lang" value="{{ response.lang }}">
                                <input type="hidden" name="job" value="update_{{ category }}">
                                <textarea {{ elem[3] }} class='editable-content' name='modified_content' id='{{ category }}-e_{{ response.lang }}' 
                                    maxlength="{{ MAX_REPLY_LEN }}" ori_value="{{ response[category_field] }}" required>{{ response[category_field] }}</textarea>
                                <!-- <input id='save-button_{{ response.lang }}' class='save-button' type='submit' value='save'>
                                <input id='cancel-button_{{ response.lang }}' class='cancel-button' type='submit' form='' value='cancel' 
                                    onclick="cancel_edit_space_reply(this.id, '{{ category }}')"> -->
                                <button id='save-button_{{ response.lang }}' class='save-button' type='submit'>save</button>
                                <button id='cancel-button_{{ response.lang }}' class='cancel-button' type='submit' form='' 
                                    onclick="cancel_edit_space_reply(this.id, '{{ category }}')">cancel</button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <form id='create-child-form' method="POST" action="/intents_edit/create_child">
        <input type="hidden" name="parent_id" value="{{ intent.id }}">
    </form>

    {% if not intent.system or intent.intent_name == "opening text" %}
        <form id='children-form' method="POST" action=''>
            <label for="children">Next Level Selections</label>
            <input type="hidden" name="job" value="update_children">
            <select data-js-select2="" name="children" id='children' class='select2-select' multiple>
                {% for intent in intents %}
                    <option value='{{ intent.id }}' {% if intent.id in children_ids %}selected{% endif %}>{{ intent.intent_name }}</option>
                {% endfor %}
            </select>

            <button id='children-form-submit' type="submit" class='save-button'>save changes</button>
            <button id='create-child-form-submit' type='submit' class='create-child-button edit-button' form="create-child-form">create selection and add</button>
        </form>
    {% endif %}

    {% if not intent.system %}
        <h2>Training samples</h2>
        <div id='training-samples'>
            {% set category='user-message' %}
            {% set wrapped=False %}
            {% set data='data_intents_edit' %}
            {% set text='user_message' %}
            {% include 'editable.html' %}

            {% set category = 'add-intent' %}
            {% set placeholder = 69 %}
            <div class='editable' id='add-intent-box' style='padding: 0 10px;'>
                <!-- <div>hello</div> -->
                <input id='{{ category }}-display_{{ placeholder }}' class='add-button' type='submit' value='+' onclick="show_edit_space(this.id, '{{ category }}')">
                <div id='{{ category }}-edit_{{ placeholder }}' class='editable-edit' style='display: none; padding: 5px 0'>
                    <form action='' method='POST'>
                        <!-- <input type="hidden" name="job" value="add_sample"> -->
                        <textarea class='editable-content' cols=2 name='user_message' id='{{ category }}-e_{{ placeholder }}' 
                            ng-model='add_intent_form.user_message' maxlength="{{ MAX_USER_INPUT_LEN }}" ori_value='' required></textarea>
                        <!-- <input id='cancel-button_{{ placeholder }}' class='cancel-button' type='submit' value='cancel' form='' onclick="cancel_edit_space(this.id, '{{ category }}')">
                        <input id='save-button_{{ placeholder }}' class='save-button' type='submit' value='save'> -->
                        <button id='save-button_{{ placeholder }}' class='save-button' type='submit' form='' 
                            ng-click="addSample($event, '{{ category }}');">save</button>
                        <button id='cancel-button_{{ placeholder }}' class='cancel-button' type='submit' form='' 
                            onclick="cancel_edit_space(this.id, '{{ category }}')">cancel</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'jinja.jinja-html' %}
    <script>
        function cascade_zindex(clicked_elem) {
            var buttons = document.getElementsByClassName(clicked_elem.className.split(" ")[0]);
            var category = clicked_elem.getAttribute('--category');

            clicked_elem_index = 0;
            for (i = 0; i < buttons.length; i++) {
                if (buttons[i].id == clicked_elem.id) {
                    clicked_elem_index = i;
                    break;
                }
            }

            for (i = 0; i < buttons.length; i++) {
                var lang = buttons[i].id.split("_")[1];
                var language_section = document.getElementById(`${category}-language-section_${lang}`);

                if (i != clicked_elem_index) {
                    buttons[i].style.zIndex = 50 - Math.abs(clicked_elem_index - i);
                    buttons[i].style.fontWeight = 'normal';
                    language_section.style.zIndex = 0;
                } else {
                    buttons[i].style.zIndex = 51;
                    buttons[i].style.fontWeight = 'bold';
                    language_section.style.zIndex = 99;
                }
            }
        }

        $(document).ready(function() {
            buttons_text = document.getElementsByClassName('response-select-language-button');
            for (i = 0; i < buttons_text.length; i++) {
                buttons_text[i].addEventListener('click', function(event) {cascade_zindex(event.target);})
            }

            var langToClick = '{% if language %}{{ language }}{% else %}{% if primary_lang %}{{ primary_lang }}{% else %}en{% endif %}{% endif %}';
            document.getElementById('reply-message-select-language-button_' + langToClick).click();
            var selection_text_button = document.getElementById('selection-text-select-language-button_' + langToClick)
            if (selection_text_button) selection_text_button.click();

            $('#children').select2({
                closeOnSelect: false
            })

            // var error_messages = {{ get_flashed_messages() | tojson | safe }};
            // flashError(error_messages);
            var error_messages = get_flashed();
            flashFlashed();
        });

        // angular.element(document).ready(function() {
        //     document.getElementsByClassName('flex-item-right')[0].scrollTo(0, 0);
        // });

        function show_edit_space_reply(id, category) {
            var edit_buttons = $(`.${category}-language-section`).find('.edit-button');
            for (i = 0; i < edit_buttons.length; i++) {
                edit_buttons[i].style.display = 'none';
            }
            show_edit_space(id, category);
        }

        function cancel_edit_space_reply(id, category) {
            var edit_buttons = $(`.${category}-language-section`).find('.edit-button');
            for (i = 0; i < edit_buttons.length; i++) {
                edit_buttons[i].style.display = 'inline';
            }

            if (Array.isArray(id)) for (i = 0; i < id.length; i++) cancel_edit_space(id[i], category);
            else cancel_edit_space(id, category);
        }

        function cancel_edit_space_reply_all(category) {
            all_languages_button = document.getElementsByClassName(`${category}-select-language-button`);
            all_languages = [];
            for (i = 0; i < all_languages_button.length; i++) {
                all_languages.push(all_languages_button[i].id);
            }
            cancel_edit_space_reply(all_languages, category);
        }

        var appIntentsEdit = angular.module('appIntentsEdit', ['ngMaterial', 'ngMessages']);

        appIntentsEdit.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{a');
            $interpolateProvider.endSymbol('a}');
        }]);

        appIntentsEdit.controller('ctrlIntentsEdit', function ctrlIntentsEdit($scope, $http) {
            $scope.data_intents_edit = [];
            $scope.dummy;
            $scope.switches = {
                'deployed': false, 
                'small_talk': false, 
                'unique_selection': false
            };
            $scope.add_intent_form = {
                'intent_id': parseInt("{{ intent.id }}"), 
                'user_message': ''
            }
            
            $scope.getIntentsEditData = function getIntentsEditData() {
                $http.post('/view_intents_edit', {'intent_id': '{{ intent.id }}'})
                .then(
                    function(response)
                        {
                            $scope.data_intents_edit = response.data.training_data;
                            $scope.switches.deployed = response.data.deployed;
                            $scope.switches.small_talk = response.data.small_talk;
                            $scope.switches.unique_selection = response.data.unique_selection;
                        }, 
                    function(response)
                        {
                            console.log('getIntentsEditData error');
                            console.log(response);
                        }
                );
                // error handling
            };

            $scope.toggle = function(intent_id, field) {
                var ori = !$scope.switches[field];

                var data = {};
                data['intent_id'] = intent_id;
                data['value'] = $scope.switches[field];
                data['field'] = field;
                console.log(data);

                $http.post('/intents_edit/toggle', data)
                .then(
                    function(response)
                        {
                            if (field == 'small_talk') {
                                var selection_text_title = document.getElementById('selection-text-title');
                                var selection_text_container = document.getElementById('selection-texts-container');
                                if (!data['value']) {
                                    selection_text_title.style.display = 'block';
                                    selection_text_container.style.display = 'block';
                                } else {
                                    selection_text_title.style.display = 'none';
                                    selection_text_container.style.display = 'none';
                                }
                            }
                            console.log(response);
                            $scope.getIntentsEditData();
                        }, 
                    function(response)
                        {
                            console.log(`toggle ${field} error`);
                            $scope.switches[field] = ori;
                        }
                )
            }

            $scope.submitForm = function submitForm(target, job) {
                var form = document.getElementById('form-'+job+'_'+target.id);
                var form_data = {};
                for (i = 0; i < form.elements.length; i++) {
                    var elem = form.elements[i];
                    if (elem.type != 'submit') form_data[elem.name] = elem.value;
                }
                console.log(form_data);

                $http.post('/intents_edit/{{ intent.intent_name }}', form_data)
                .then(
                    function(response)
                        {
                            // $scope.dummy = form_data;
                            console.log(form_data);
                            console.log(response);
                            $scope.getIntentsEditData();
                        }, 
                    ajaxErrorHandle
                );
            };

            $scope.addSample = function(event, category) {
                var intent_id = $scope.add_intent_form.intent_id;
                var user_message = $scope.add_intent_form.user_message;

                if (!user_message) {
                    alert('This field cannot be left empty');
                    return;
                }

                form_data = {'intent_id': intent_id, 'user_message': user_message};

                $http.post('/intents_edit/add_sample', form_data)
                .then(
                    function(response)
                        {
                            console.log(form_data);
                            console.log(response);
                            $scope.getIntentsEditData();
                        }, 
                    ajaxErrorHandle
                );

                cancel_edit_space(event.target.id, category);
            }
        });

        // window.onload = function() {
        //     document.getElementById('select-language-button_en').trigger('click');
        // };
    </script>
{% endblock %}