{% extends "intents_base.html" %}

{% block angularjs_ng_app %}
ng-app='appIntentsEdit' ng-controller='ctrlIntentsEdit' ng-init='getIntentsEditData();'
{% endblock %}

{% block content %}
    <h3>editing</h3>
    <h1>{{ intent.intent_name }}</h1>
    <div id='debug'></div>
    <!-- <label for='deployed'>deployed</label>
    <input type='checkbox' name='deployed' {% if intent.deployed %}checked{% endif %}>
    <label for='deployed'>deployed</label>
    <input type='checkbox' name='deployed' {% if intent.deployed %}checked{% endif %}> -->
    <hr style='width: 97%;'>
    <div id='debug'></div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flashed-message'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    
    <div id="switches">
        <md-switch ng-model="deployed" aria-label="deployed_switch" ng-change="toggleDeployed({{ intent.id }});"></md-switch>
        <div>Deployed</div>
    </div>
    
    <h2>Chatbot response</h2>
    <div id='reply-messages-container'>
        <!-- <input type='submit' name='english' value='english'>
        <input type='submit' name='malay' value='malay'> -->
        {% set target = intent %}
        {% set category = 'reply-message' %}
        {% set languages = ['my', 'en'] %}
        <a href="#select-language-button_en" class='select-language-button' id='select-language-button_en' onclick="cancel_edit_space_reply_all('{{ category }}')">english</a><a href="#select-language-button_my" class='select-language-button' id='select-language-button_my' onclick="cancel_edit_space_reply_all('{{ category }}')">malay</a>
        <div id='reply-messages'>
            {% for lang in languages %}
                <div class='{{ category }}-language-section' id='{{ category }}-language-section_{{ lang }}'>
                    <div id='{{ category }}-display_{{ lang }}' class='{{ category }}-display'>
                        <input id='edit-button_{{ lang }}' class='edit-button' type='submit' value='edit' onclick="show_edit_space_reply(this.id, '{{ category }}')">
                        <span id='{{ category }}_{{ lang }}' class="editable-content">{{ intent["reply_message_"+lang] }}</span>
                    </div>
                    <div id='{{ category }}-edit_{{ lang }}' class='editable-edit' style='display:None;'>
                        <!-- <span class='utterance'>editting</span> -->
                        <form action="" method='POST'>
                            <input type="hidden" name="lang" value="{{ lang }}">
                            <input type="hidden" name="job" value="update_reply_message">
                            <textarea style='height:60px;' class='editable-content' name='modified_content' id='{{ category }}-e_{{ lang }}' ori_value='{{ intent["reply_message_"+lang] }}' required>{{ intent["reply_message_"+lang] }}</textarea>
                            <!-- <input id='save-button_{{ lang }}' class='save-button' type='submit' value='save'>
                            <input id='cancel-button_{{ lang }}' class='cancel-button' type='submit' form='' value='cancel' onclick="cancel_edit_space_reply(this.id, '{{ category }}')"> -->
                            <button id='save-button_{{ lang }}' class='save-button' type='submit'>save</button>
                            <button id='cancel-button_{{ lang }}' class='cancel-button' type='submit' form='' onclick="cancel_edit_space_reply(this.id, '{{ category }}')">cancel</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <h2>Training samples</h2>
    <div id='training-samples'>
        {% set category='user-message' %}
        {% set wrapped=False %}
        {% set data='data_intents_edit' %}
        {% set text='user_message' %}
        {% include 'editable.html' %}

        {% set category = 'add-intent' %}
        {% set placeholder = 69 %}
        <div class='editable' id='add-intent-box' style='padding: 0 10px;'>
            <!-- <div>hello</div> -->
            <input id='{{ category }}-display_{{ placeholder }}' class='add-button' type='submit' value='+' onclick="show_edit_space(this.id, '{{ category }}')">
            <div id='{{ category }}-edit_{{ placeholder }}' class='editable-edit' style='display: none; padding: 5px 0'>
                <form action='' method='POST'>
                    <input type="hidden" name="job" value="add_sample">
                    <textarea class='editable-content' cols=2 name='user_message' id='{{ category }}-e_{{ placeholder }}' ori_value='' required></textarea>
                    <!-- <input id='cancel-button_{{ placeholder }}' class='cancel-button' type='submit' value='cancel' form='' onclick="cancel_edit_space(this.id, '{{ category }}')">
                    <input id='save-button_{{ placeholder }}' class='save-button' type='submit' value='save'> -->
                    <button id='save-button_{{ placeholder }}' class='save-button' type='submit'>save</button>
                    <button id='cancel-button_{{ placeholder }}' class='cancel-button' type='submit' form='' onclick="cancel_edit_space(this.id, '{{ category }}')">cancel</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            document.getElementById('select-language-button_en').click();
        });

        // angular.element(document).ready(function() {
        //     document.getElementsByClassName('flex-item-right')[0].scrollTo(0, 0);
        // });

        function show_edit_space_reply(id, category) {
            var edit_buttons = $(".reply-message-language-section").find('.edit-button');
            for (i = 0; i < edit_buttons.length; i++) {
                edit_buttons[i].style.display = 'none';
            }
            show_edit_space(id, category);
        }

        function cancel_edit_space_reply(id, category) {
            var edit_buttons = $(".reply-message-language-section").find('.edit-button');
            for (i = 0; i < edit_buttons.length; i++) {
                edit_buttons[i].style.display = 'inline';
            }

            if (Array.isArray(id)) for (i = 0; i < id.length; i++) cancel_edit_space(id[i], category);
            else cancel_edit_space(id, category);
        }

        function cancel_edit_space_reply_all(category) {
            all_languages_button = document.getElementsByClassName('select-language-button');
            all_languages = [];
            for (i = 0; i < all_languages_button.length; i++) {
                all_languages.push(all_languages_button[i].id);
            }
            cancel_edit_space_reply(all_languages, category);
        }

        var appIntentsEdit = angular.module('appIntentsEdit', ['ngMaterial', 'ngMessages']);

        appIntentsEdit.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{a');
            $interpolateProvider.endSymbol('a}');
        }]);

        appIntentsEdit.controller('ctrlIntentsEdit', function ctrlIntentsEdit($scope, $http) {
            $scope.data_intents_edit = [];
            $scope.dummy;
            $scope.deployed = false;
            
            $scope.getIntentsEditData = function getIntentsEditData() {
                $http.post('/view_intents_edit', {'intent_id': '{{ intent.id }}'})
                .then(
                    function(response)
                        {
                            $scope.data_intents_edit = response.data.training_data;
                            $scope.deployed = response.data.deployed;
                        }, 
                    function(response)
                        {
                            console.log('getIntentsEditData error');
                            console.log(response);
                        }
                );
                // error handling
            };

            $scope.toggleDeployed = function(intent_id) {
                var ori = !$scope.deployed;

                var data = {};
                data['intent_id'] = intent_id;
                data['value'] = $scope.deployed;
                console.log(data);

                $http.post('/intents_edit/toggle_deployed', data)
                .then(
                    function(response)
                        {
                            console.log(response);
                            $scope.getIntentsEditData();
                        }, 
                    function(response)
                        {
                            console.log('toggleDeployed error');
                            $scope.deployed = ori;
                        }
                )
            }

            $scope.submitForm = function submitForm(target, job) {
                var form = document.getElementById('form-'+job+'_'+target.id);
                var form_data = {};
                for (i = 0; i < form.elements.length; i++) {
                    var elem = form.elements[i];
                    if (elem.type != 'submit') form_data[elem.name] = elem.value;
                }
                console.log(form_data);

                $http.post('/intents_edit/{{ intent.intent_name }}', form_data)
                .then(
                    function(response)
                        {
                            // $scope.dummy = form_data;
                            console.log(form_data);
                            console.log(response);
                            $scope.getIntentsEditData();
                        }, 
                    function(response)
                        {
                            console.log('submitForm error');
                            console.log(response);
                        }
                );
            };
        });

        // window.onload = function() {
        //     document.getElementById('select-language-button_en').trigger('click');
        // };
    </script>
{% endblock %}