{% extends "intents_base.html" %}

{% block import %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/intents_add_style.css') }}">
{% endblock %}

{% block content %}
    <form action="/intents_add" method="POST" id='add_form'>
        {% if preset_sample_id %}
            <input type='hidden' name='preset_sample_id' value={{ preset_sample_id }}>
        {% endif %}
    </form>
    <h3>adding</h3>
    <h1><input id='intent-name-input' name='intent_name' type='text' form='add_form' maxlength="{{ MAX_INTENT_NAME_LEN }}" placeholder="Enter new intent name"
        autocomplete="off" {% if form_data %}value='{{ form_data.intent_name }}'{% endif %} required></h1>
    <hr style='width: 97%;'>
    <div id='debug'></div>
    <div id='error'></div>

    {#
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flashed-message'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    #}

    <h2>Chatbot response</h2>
    <!-- <div id='reply-message-header'>
        <input type='submit' name='english' value='english'>
        <input type='submit' name='malay' value='malay'>
    </div> -->
    <div id='reply-messages-adding'>
        <label for='reply_message'>Reply message <strong>{{ primary_lang }}</strong></label>
        <textarea name="reply_message" form='add_form' maxlength="{{ MAX_REPLY_LEN }}" required>{% if form_data %}{{ form_data.reply_message }}{% endif %}</textarea>
        <!-- <label for='reply_message_en'>English</label>
        <textarea name="reply_message_en" form='add_form' required>{% if form_data %}{{ form_data.reply_message_en }}{% endif %}</textarea>
        <label for='reply_message_my'>Malay</label>
        <textarea cols=100 rows=5 name="reply_message_my" form='add_form' required>{% if form_data %}{{ form_data.reply_message_my }}{% endif %}</textarea> -->
    </div>


    <h2>Training samples</h2>
    <div id='training-samples-add' class='itents-add-elem'>
        {% if preset_training_sample %}
            <div class='editable' id='training-sample-box_0'>
                <input class='editable-content' type="text" maxlength="{{ MAX_USER_INPUT_LEN }}" name='training_sample_0' form='add_form' value='{{ preset_training_sample }}'>
            </div>
        {% endif %}
    </div>
    <input type='submit' value='+' class='add-button' onclick='add_training_samples()'>

    <div>
        <input class='save-button' name='save' type="submit" form='add_form' value='SAVE'> 
        {% if previous_page == 'missed' %}
            <a class='cancel-button' href='/missed'>CANCEL</a>
        {% else %}
            <a class='cancel-button' href='/intents_edit'>CANCEL</a>
        {% endif %}
    </div>

    {% include 'jinja.jinja-html' %}

    <script>
        $(document).ready(function() {
            // var error_messages = {{ get_flashed_messages() | tojson | safe }};
            // var error_messages = get_flashed();
            flashFlashed();

            var training_datas = get_training_datas();
            console.log(training_datas)
            for (i = 0; i < training_datas.length; i++) add_training_samples(training_datas[i]);
        })

        sample_count = 1;

        function add_training_samples(training_sample_text='') {
            var box = document.getElementById('training-samples-add');
            var training_sample_box = document.createElement('div');
            training_sample_box.id = 'training-sample-box_'+sample_count;
            training_sample_box.className = 'editable';

            var training_sample = document.createElement('input');
            training_sample.type = 'text'
            training_sample.name = 'training_sample_'+sample_count;
            training_sample.setAttribute('form', 'add_form');
            // training_sample.value = training_sample.name;
            training_sample.className = 'editable-content';
            training_sample.required = true;
            training_sample.value = training_sample_text;
            training_sample.maxLength = parseInt('{{ MAX_USER_INPUT_LEN }}')
            
            var delete_button = document.createElement('button');
            delete_button.type = 'submit';
            delete_button.id = 'sample-delete-button_'+sample_count;
            delete_button.innerHTML = ' delete';
            delete_button.className = 'delete-button';
            delete_button.onclick = function () {
                remove_training_sample(this.id)
            };

            var error_messages = document.createElement('div');
            // error_messages.innerHTML = 'hello'

            training_sample_box.appendChild(training_sample);
            training_sample_box.appendChild(delete_button);
            training_sample_box.appendChild(error_messages);

            sample_count += 1;
            box.appendChild(training_sample_box);

            training_sample.focus();
        }

        function remove_training_sample(id) {
            // document.getElementById('debug').innerHTML = id;
            var index = id.split("_")[1];
            var training_sample_box = document.getElementById('training-sample-box_'+index);
            training_sample_box.parentNode.removeChild(training_sample_box);
        }
    </script>
{% endblock %}