{% extends "base.html" %}

{% block title %}Missed Predictions{% endblock %}

{% block import %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editable_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/missed_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/editable.js')}}"></script>
{% endblock %}

{% block body %}
    <h3>Retraining</h3>
    <h1>Missed detections</h1>
    <div id='debug'></div>
    <hr style='width:97%;'>

    <div id="error"></div>

    {#
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flash-message'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    #}

    <script>
        var appMissed = angular.module('appMissed', []);

        function formatOption(optionElement) {
            // if (!optionElement.id) { return optionElement.text; }
            // var $state = $('<span><strong>' + optionElement.element.value + '</strong> ' + optionElement.text + '</span>');
            // return $state;
            if (optionElement.text == 'new intent') return $('<b>' + optionElement.element.value + '</b>');
            return optionElement.text;
        }

        appMissed.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{a');
            $interpolateProvider.endSymbol('a}');
        }]);

        appMissed.controller('ctrlMissed', function ctrlMissed($scope, $http) {
            $scope.data_missed = [];
            $scope.intents = [];
            $scope.dummy;
            
            $scope.getMissedData = function getMissedData() {
                $http.post('/view_missed', {params:{}})
                .then(function(response)
                    {
                        $scope.data_missed = response.data.data;
                    }
                );
            };

            $scope.getMissedIntent = function getMissedIntent() {
                $http.post('/view_missed_intent', {params:{}})
                .then(function(response)
                    {
                        $scope.intents = response.data.data;
                    }
                );
            };

            $scope.submitForm = function submitForm(target, job) {
                var form = document.getElementById('form-'+job+'_'+target.id);
                var form_data = {};
                for (i = 0; i < form.elements.length; i++) {
                    var elem = form.elements[i];
                    if (elem.type != 'submit') form_data[elem.name] = elem.value;
                }
                console.log(form_data);

                if (job == 'retrain') {
                    console.log(form_data)
                    if ((!form_data.intent) || (form_data.intent=="new intent")) {
                        form.setAttribute('action', '/missed_new_intent');
                        form.submit();
                    }
                }

                $http.post('/missed', form_data)
                .then(function(response)
                    {
                        // $scope.dummy = form_data;
                        console.log(form_data);
                        console.log(response);
                        $scope.getMissedData();
                    }, 
                    ajaxErrorHandle
                );
            };
        });

        appMissed.directive('jsSelect2', function ($timeout) {
            return {
                link: function (scope, element, attrs) {
                    jQuery(element).select2(
                        {
                            templateResult: formatOption
                        }
                    );

                    // scope.$watch(attrs.ngModel, function () {
                    //     $timeout(function () {
                    //         // element.trigger('change.select2');
                    //     }, 100);
                    // });

                }
            };
        });

        // appMissed.run(function() {
        //     console.log('fuck');

        //     $('.select2-select').select2({
        //         placeholder: "deleted intent", 
        //         width: "resolve"
        //     });
        // });

        // $(".select2-select").ready(function() {
        //     $('.select2-select').select2({
        //         placeholder: "deleted intent", 
        //         width: "resolve"
        //     });

        //     console.log($('.select2-select'));
        // });
    </script>

    <div id='table' ng-app="appMissed" ng-controller="ctrlMissed" ng-init='getMissedData();getMissedIntent();'>
        <div class='missed_row'>
            <div class='column-one'>Utterances</div>
            <div class='column-two'>Predicted</div>
            <div class='column-three'></div>
        </div>
        {% set category='utterance' %}
        {% set wrapped=True %}
        {% set data='data_missed' %}
        {% set text='utterance' %}
        <div class='missed_row' ng-repeat="target in {{ data }}">
            <div class='column-one'>
                {% include 'editable.html' %}
            </div>

            <div class='column-two'>
                {% set job='retrain' %}
                <form method='POST' id='form-{{ job }}_{a target.id a}' ng-submit='submitForm(target, "{{ job }}")'>
                    <!-- ng-submit='submitForm(target, {{ job }})' -->
                    <input type="hidden" name="id" value="{a target.id a}">
                    <input type="hidden" name="job" value="{{ job }}">
                    <select data-js-select2="" name="intent" class='select2-select' placeholder="Select State" style="width:100%;">
                        <option></option>
                        <option>new intent</option>
                        <!-- optimize -->
                        <option ng-repeat="intent in intents" ng-if="target.predicted_intent_id_top == intent.id" value="{a intent.id a}" selected>{a intent.intent_name a}</option>
                        <option ng-repeat="intent in intents | orderBy: 'intent_name'" ng-if="target.predicted_intent_id_top != intent.id" value="{a intent.id a}">{a intent.intent_name a}</option>
                        <!-- <option ng-repeat="intent in intents" value="{a intent.id a}">{a intent.intent_name a}</option> -->
                    </select>
                </form>
            </div>

            <div class='column-three'><input class='retrain-submit' type='submit' value='train' form='form-{{ job }}_{a target.id a}'></div>
        </tr>
    </div>
{% endblock %}