{% extends "base.html" %}

{% block import %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editable_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/missed_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/editable.js')}}"></script>
{% endblock %}

{% block body %}
    <h3>Retraining</h3>
    <h1>Missed detections</h1>
    <div id='debug'></div>
    <hr style='width:97%;'>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flash-message'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <table>
        <col class="column-one">
        <col class="column-two">
        <col class="column-three">
        <tr>
            <th>Utterances</th>
            <th>Predicted</th>
            <th></th>
        </tr>
        <div ng-app='{{ app }}' ng-controller='{{ ctrl }}' ng-init='{{ init }}'></div>
        {# {% set target = '{a captured a}' %} no idea yet
        {% set content = '{a captured.utterance a}' %}
        {% set category='utterance' %}
        {% set action='missed' %}
        {% include 'editable.html' %} #}
        {% for captured in captureds %}
            <tr ng-repeat='target in {{ data }}'>
                <td>
                    {% set target = captured %}
                    {% set content = captured.utterance %}
                    {% set category='utterance' %}
                    {% set action='missed' %}
                    {% include 'editable.html' %}
                </td>
                <td>
                    <div>
                        <form action="/missed" method='POST' id='retrain_form_{{ captured.id }}'>
                            <input type="hidden" name="id" value={{ captured.id }}>
                            <input type="hidden" name="job" value="retrain">
                            <select name="intent" class='select2-select' placeholder="Select State" style="width:100%;">
                                <option></option>
                                <option>new intent</option>
                                {% for intent in intents %}
                                    <option value="{{ intent.id }}" {% if captured.predicted_intent_id_top == intent.id %}selected{% endif %}>{{ intent.intent_name }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </td>
                <td><div><input class='retrain-submit' type='submit' value='train' form='retrain_form_{{ captured.id }}'></div></td>
            </tr>
        {% endfor %}
    </table>
    <script>
        $(document).ready(function() {
            $('.select2-select').select2({
                placeholder: "deleted intent", 
                width: "resolve"
            });
        });
    </script>
{% endblock %}