<html>
    <head>
        <title>testing mdfk</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/util.js')}}"></script>
    </head>
    <body>
        <!-- <form action="/testing" method='POST'>
            Hello: <input type='text' name='title' id='title' required>
            <input type='submit' name=''>
        </form> -->
        <div id='error'></div>

        {% include 'jinja.jinja-html' %}
        <script>
            flashFlashed();
        </script>
    </body>
</html>