<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://use.fontawesome.com/312841a3fe.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_chatbox_style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_information_form_style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		{% include 'jinja.jinja-html' %}
		<script src="{{ url_for('static',filename='js/util.js') }}"></script>
		<script src="{{ url_for('static',filename='js/user_chatbox.js') }}"></script>
		<script src="{{ url_for('static',filename='js/user_information_form.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

		<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
		<title>Rehabot</title>
	</head>
	<body>
		<h1></h1>
		<div id='content'>
			<p id='debug'></p>

			<div id="wrapD3Cube">
				<h3>Website in Progress</h3>
				<div id="D3Cube">
					<div id="side1"></div>
					<div id="side2"></div>
					<div id="side3"></div>
					<div id="side4"></div>
					<div id="side5"></div>
					<div id="side6"></div>
				</div>
			</div>
		</div>

		<footer>
			<div>Powered by</div>
			<img src="{{ url_for('static', filename='img/exabytes_logo_1.svg') }}" alt="Exabytes" width='160px'>
		</footer>

		<div id='chatsection'>
			{% if registered %}
				{% include 'user_chatbox.html' %}
			{% else %}
			    {% include 'user_information_form.html' %}
			{% endif %}
		</div>

		<div id='chatcircle' class='hidden' onclick='document.getElementById("chatsection").classList.remove("hidden"); this.classList.add("hidden");'>
			<span class="fa fa-comments fa-3x" aria-hidden="true"></span>
		</div>
	</body>
</html>