<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://use.fontawesome.com/312841a3fe.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_chatbox_style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user_information_form_style.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		{% include 'jinja.jinja-html' %}
		<script src="{{ url_for('static',filename='js/util.js') }}"></script>
		<script src="{{ url_for('static',filename='js/user_chatbox.js') }}"></script>
		<script src="{{ url_for('static',filename='js/user_information_form.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<!-- <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}"> -->
		<link rel="icon" href="{{ url_for('static', filename='img/rehabot_logo_transparent.png') }}">
		<title>Rehabot</title>
	</head>
	<body>
		<h1></h1>
		<div id='content'>
			<p id='debug'></p>

			<div id="wrapD3Cube">
				<div id="D3Cube">
					<div class="right box-surface" id="side3"></div>
					<div class="back box-surface" id="side4">
						<a href="https://umcas.um.edu.my/" target="_blank">
							<img src="{{ url_for('static',filename='img/um_logo.png') }}" alt="UMCAS">
						</a>
						<a target="" style="opacity: 0; transform: translateZ(-1px); cursor: default;">
						</a>
					</div> <!--umcas-->
					<div class="bottom box-surface" id="side6">
						<div class="front box-surface" id="side2">
							<div class="top box-surface" id="side1"></div>
						</div>
					</div>
					<div class="left box-surface" id="side5">
						<a href="https://hoag.moh.gov.my/" target="_blank">
							<img src="{{ url_for('static',filename='img/hoag_logo_cropped.png') }}" alt="HOAG">
						</a>
					</div> <!--hoag-->

					<!-- <div id="side1" class=""></div>
					<div id="side2"></div>
					<div id="side3"></div>
					<div id="side4"><a href="https://umcas.um.edu.my/" target="_blank"><img src="{{ url_for('static',filename='img/um_logo.png') }}" alt="UMCAS"></a></div>
					<div id="side5"><a href="https://hoag.moh.gov.my/" target="_blank"><img src="{{ url_for('static',filename='img/hoag_logo.png') }}" alt="HOAG"></a></div>
					<div id="side6"></div> -->
				</div>
			</div>

			<div id="introduction">
				<div>
					<h1>REHABOT</h1>
					<h2>Your Alcohol Rehabilitation Companion</h2>
					<p>
						Rehabot is an adaptive multilingual chatbot built to assist people in Gombak area in their alcohol rehabilitation journey. It is a product of the collaboration between University Malaya Center of Addiction Science (UMCAS) and Hospital Orang Asli Gombak (HOAG).  
					</p>
				</div>

				<div>
					<h1>UMCAS</h1>
					<h2>University Malaya Center of Addiction Science</h2>
					<p>
						UMCAS is a clinical research centre for dedicated clinicians and researchers of University Malaya Academician and Co-members from various agencies related to substance use disorder treatment including Ministry of Health's, other universities and non-government organizations. We are driven by the evidence-based medicine that addiction as a chronic relapsing brain disease. Therefore, we believe that addiction is treatable and optimist that individuals suffering from the addictive disorder can change with biopsychosocial and spiritual approaches.
					</p>
				</div>

				<div>
					<h1>HOAG</h1>
					<h2>Hospital Orang Asli Gombak</h2>
					<p>
						HOAG envisions to become a hospital which provides the best, complete, and efficient medical service so that the health level of aborigines in Malaysia is on par with other communities. HOAG is committed to improve the health of aborigine individuals, families and community through the practice of modern health care systems while encouraging individual responsibility and community participation towards the improvement of the quality of life on par with other communities. HOAG executes health programs for the aborigine community in line with the role and policies of the Ministry of Health Malaysia.
					</p>
				</div>
			</div>
		</div>

		<footer>
			<div>Powered by</div>
			<img src="{{ url_for('static', filename='img/exabytes_logo_1.svg') }}" alt="Exabytes" width='160px'>
		</footer>

		<div id='chatsection' class='hidden'>
			{% if registered %}
				{% include 'user_chatbox.html' %}
			{% else %}
			    {% include 'user_information_form.html' %}
			{% endif %}
		</div>

		<div id='chatcircle' onclick='document.getElementById("chatsection").classList.remove("hidden"); this.classList.add("hidden");'>
			<span class="fa fa-comments fa-3x" aria-hidden="true"></span>
		</div>

		<script>
			const html = document.querySelector('html');
			const content = document.getElementById('content');
			const footer = document.querySelector('footer');
			const chatsection = document.getElementById('chatsection');
			const chatcircle = document.getElementById('chatcircle');
			const box = document.getElementById('D3Cube');
			const box_wrapper = document.getElementById('wrapD3Cube');
			const introduction = document.getElementById('introduction')
			const fixed_items = [box_wrapper, introduction, chatsection, chatcircle];

			function set_cube_length() {
				var width = window.innerWidth/2.3;
				var height = window.innerHeight * 0.7; 
				box.style.setProperty('--cube-length', Math.min(width, height)+'px');
				// box.style.setProperty('--cube-length', '30px');
			};
			set_cube_length();

			window.addEventListener('scroll', () => {
				const part = [0.4, 0.6]
				const scrollTop = html.scrollTop;
				const maxScrollTop = content.scrollHeight - window.innerHeight;
				var scrollFraction = scrollTop / maxScrollTop * 1.3;
				var scrollFractionOld = scrollFraction;
				scrollFraction = Math.min(scrollFraction, 1);
				// const angle = Math.floor(scrollFraction * 90);
				const scrollFraction1 = Math.min(1, scrollFraction/part[0]);
				content.style.setProperty('--scrollFraction1', scrollFraction1);

				const scrollFraction2 = Math.max(0, (scrollFraction-part[0])/part[1]);
				const angle = Math.floor(scrollFraction2 * 90);

				box.style.setProperty('--rotation2', angle+'deg');
				content.style.setProperty('--scrollFraction2', scrollFraction2);

				if (scrollFractionOld >= 1.25) {
					fixed_items.forEach((item) => {
						item.classList.add('pushup');
					})
				} else {
					fixed_items.forEach((item) => {
						item.classList.remove('pushup');
					})
				}
			});

			window.addEventListener('resize', () => {
				set_cube_length();
			});
		</script>
	</body>
</html>