<div id='hack' contenteditable="true"></div>

<div id='chatheader'>
    <div onclick='document.getElementById("chatsection").classList.add("hidden"); document.getElementById("chatcircle").classList.remove("hidden");'>
        <span class="fa fa-angle-down fa-lg"></span>
    </div>
</div>

<div id="chatbox">
    <div class='area botArea'>
        <div class="botText">
            <span>
                <span>Hi! I'm Chatbot. How can I help you today?</span>
            </span>
        </div>
    </div>
</div>

<div id="userInput">
    <textarea id="textInput" name="msg" placeholder="" rows="1" maxlength="150" oninput='autoResize(this)'></textarea>
    <button id='buttonInput' type='submit'><span class='fa fa-paper-plane fa-lg'></span></button>
    <!-- <input id="buttonInput" type="image" src="https://img.icons8.com/ios-glyphs/23/3030ff/filled-sent.png"> -->
</div>
